

.card {
    outline: 1px solid gray;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #faf8ec;
    padding: 1.25rem;

    height: 10rem;
    width: 7rem;
    cursor: pointer;
}

.card.clicked {
    border: 1px solid red;
}

.card-image {
    height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 26px 0px rgb(241, 225, 195);

}

.card-image img{
    height: 100%;
    width: auto;
    object-fit: contain;
}

.card-footer {
    color: #381f10;
    font-size: 1.5rem;
}
